html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	scroll-behavior: smooth;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.3;
	min-width: 768px;
	background: black;
}
* {
    box-sizing: border-box;
}
.header {
	text-align: center;
	margin: 0 auto;
	position: fixed;
    width: 100%;
    background: black;
	z-index: 1;
}
.info {
	min-height: 550px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}
.info.roadster {
	background: url(./img/roadster2020.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.info h1 {
    padding: 30px 0;
    margin: 0;
    color: #333;
	font-size: 36px;
}
.info h1 .h1-small {
	display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}
.info p {
    color: #fff;
    padding: 0 16px 20px;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
    max-width: 400px;
}
ul.menu{
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	display: inline;
}
ul.menu li{
	color: white;
	display: table-cell;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
ul.menu li a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}
ul.menu li a:focus, ul.menu li a:visited {
	background-color: #444;
	text-decoration: none;
}
ul.menu li a:hover {
	background-color: #202020;
	text-decoration: none;
}
ul.menu li.active {
	padding: 10px 20px;
    background-color: #444;
}
.menu a.logo {
	padding: 10px 40px;
    background: url(./img/logo.svg) no-repeat;
    color: transparent;
    background-position: center;
    background-size: 90px auto;
    width: 120px;
}
.body{
	text-align: center;
	font-size: 15px;
	padding-top: 30px;
	background: #000;
	color: #fff;
	margin: 0 auto;
}
.body h2 {
	max-width: 500px;
	width: 100%;
	text-align: left;
	margin: 60px 0 20px;
}
.body .content {
	max-width: 500px;
	width: 100%;
	display: inline-block;
}
dl.specs{
	/*display: inline-block;*/
}
dl.specs dt{
	clear: both;
	float: left;
	width: 65%;
	text-align: left;
	padding: 15px 0px;
	border-top: 1px solid grey;
	margin: 0;
}
dl.specs dd{
	float: right;
	text-align: right;
	width: 35%;
	padding: 15px 0px;
	border-top: 1px solid grey;
	margin: 0;

}
dl.specs dt .dt-info{
	font-size: 13px
}
.footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 14px;
}
video {
	width: 1240px;
    height: 349px;
    margin: 80px 0 0;
}
@media screen and (max-width: 1280px) {
	video {
    	width: 768px;
    	height: 216px;
    	margin: 60px 0 0;
	}
}
.back {
	min-height: 420px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;

	background: url(./img/back.jpg) no-repeat;
	background-size: 768px auto;
	background-position: center bottom 20px;
}
.back h2{
	font-size: 23px;
    clear: both;
    width: 90%;
    text-align: left;
	max-width: 400px;
	margin: 0;
}
.back p{
	font-size: 15px;
    clear: both;
    margin-top: 18px;
    margin-bottom: 30px;
    width: 84%;
    float: left;
    text-align: left;
    padding-left: 0;
	max-width: 400px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.interior {
	min-height: 420px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;

	background: url(./img/interior.jpg) no-repeat;
	background-size: 768px auto;
	background-position: center bottom 20px;
}
.interiortext {
	min-height: 20px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
}
.interiortext h2{
	font-size: 23px;
    clear: both;
    width: 90%;
    text-align: left;
	max-width: 400px;
	margin: 0;
}
.interiortext p{
	font-size: 15px;
    clear: both;
    margin-top: 18px;
    margin-bottom: 30px;
    width: 84%;
    float: left;
    text-align: left;
    padding-left: 0;
	max-width: 400px;
}
.top {
	min-height: 560px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; 
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;

	background: url(./img/top.jpg) no-repeat;
	background-size: 768px auto;
	background-position: center bottom 20px;
}
.top h2{
	font-size: 23px;
    clear: both;
    width: 90%;
    text-align: left;
	max-width: 400px;
	margin: 0;
}
.top p{
	font-size: 15px;
    clear: both;
    margin-top: 18px;
    margin-bottom: 30px;
    width: 84%;
    float: left;
    text-align: left;
    padding-left: 0;
	max-width: 400px;
}
.body.photos {
    display: flex;
    flex-flow: row wrap;
    max-width: 768px;
    padding-top: 40px;
}
.body.photos .column {
    width: 50%;
}
.photo{
	width: 100%;
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 10px;
}
.photo img {
	width: 100%;
	height: auto;
}
.photo .download {
	transition: opacity .2s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 48px;
	background-color: #000;
	opacity: 0;
}
.photo:hover .download {
	opacity: .65;
}